<%- include ('../partials/head.ejs') %>
<body id="page-top">
    <div id="wrapper">

        <!-- MENU -->
        <%- include ('../partials/menu.ejs') %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

              <!-- NAV -->
              <%- include ('../partials/nav.ejs') %>
                <div class="container-fluid">
                    <div class="row">
                        <!-- COLUMN 1 -->
                        <div class="col">
                          <h1 class="display-4"><%= data.title %></h1>
                          <div class="date_post">
                                <p>Data da publicação: 2021</p>
                                <img class="img-fluid "width="290" height="430"" src="../../img/dogs/image1.jpeg" alt="nome_do_livro">
                            </div>
                        </div>
                        <!-- COLUMN 2 -->
                        <div class="col">
                          <h1 class="display-4">Detalhes</h1>
                        </div>
                        <!-- COLUMN 3    -->
                        <div class="col">
                          <h1 class="display-4">Sinopse</h1>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <%- include ('../partials/footer.ejs') %>
</body>
<!-- FOOTER -->
